#about-me {
  padding: 3rem;
  background: linear-gradient(
    342deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(8, 145, 178, 1) 29%
  );
}

#about-me h1 {
  width: max-content;
  height: max-content;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -3rem;
}

#contact-me h2,
#my-work h2,
#about-me .card h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
}

#about-me .card p {
  font-weight: 400;
  text-align: justify;
  font-size: 1.5rem;
}

#about-me .card .icons {
  display: flex;
  justify-content: right;
  font-size: 3rem;
  gap: 1rem;
}

.card {
  background-color: white;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.75);
}

#my-work {
  padding: 3rem;
  margin: 5rem 0;
}

#my-work .cards-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

#my-work .cards-container .card {
  display: flex;
  flex-direction: column;
}

#my-work .cards-container .card img {
  flex-basis: 50%;
  min-height: 20rem;
  background-image: url("https://placehold.co/1000/c363b4/c363b4");
}

#my-work .cards-container .card .project-info {
  padding: 1rem;
}

.project-info .project-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.project-info .project-header p {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0;
}

.project-info .project-header i {
  font-size: 2rem;
}

#contact-me {
  background-color: #0891b2;
}

#contact-me .contact-me-container {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.contact-left i {
  font-size: 3rem;
}

.contact-left .container-mail,
.contact-left .container-phone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-right {
  flex-basis: 75%;
  text-align: right;
  overflow: hidden;
  height: 30rem;
}

.contact-me-container .contact-right img {
  object-fit: cover;
}

/* mobile styles */
@media (max-width: 767px) {
  #about-me .card {
    box-shadow: none;
    background-color: transparent;
  }

  #about-me .card img {
    object-fit: cover;
    width: 100%;
    height: 45rem;
    margin-bottom: 10rem;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.75);
  }

  #about-me h1 {
    bottom: 0;
  }

  #about-me h2 {
    text-align: center;
  }

  #about-me .card .icons {
    margin-top: 4rem;
    visibility: visible;
    justify-content: center;
  }

  #my-work .cards-container {
    grid-template-columns: 1fr;
  }

  #contact-me .contact-me-container {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .contact-me-container .contact-left {
    padding: 3rem;
  }

  .contact-me-container .contact-left .contact-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .contact-me-container .contact-right img {
    object-fit: cover;
    width: 100%;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  #about-me img {
    object-fit: cover;
    float: left;
    width: 30rem;
    height: 30rem;
    margin-top: -10rem;
    margin-left: -5rem;
    margin-right: 1rem;
  }

  #about-me h1 {
    position: absolute;
    top: -5rem;
    left: 65%;
    height: fit-content;
    width: max-content;
  }

  #about-me .card {
    position: relative;
    margin-top: 15rem;
    margin-left: 5rem;
  }

  #about-me h2 {
    padding-top: 5rem;
    text-align: center;
  }

  #about-me p {
    margin: 0;
    padding: 2rem;
  }

  #about-me .icons {
    visibility: hidden;
  }

  #my-work .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* desktops */
@media (min-width: 1024px) {
  #about-me .card {
    margin-left: 25%;
    margin-top: 10%;
    padding: 2rem;
  }

  #about-me h1 {
    bottom: 19rem;
    left: 24rem;
  }

  #about-me .card img {
    float: left;
    width: 35rem;
    margin-left: -35%;
    margin-top: -10%;
    margin-right: 2rem;
  }

  #my-work {
    margin-top: 10rem;
  }
}
